<% if @sending_error.length > 0 %>
  <p class="alert alert-danger"><strong><%= @sending_error %> </strong></p>
<%else%>
  <p></p>
<%end%>

<div class="col-xs-10 col-xs-offset-1">
  <h1>Admin Panel</h1>
  <div class="form">
    <h5>Send Invite:</h5>
    <%= form_tag do %>
      <label class="label label-default" for="">To:</label> <br>
      <input type="email" name="inviteAddress" value="" id="inviteAddress"><br>
      <%= button_to "Send Invite", admin_index_path %>
    <%end%>
  </div>
</div>
