
<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <% @projects.each do |p| %>
      <div class="row project frame">
        <%= link_to profile_project_path(current_user.profile, p), class: "projectHeader" do %>
          <h1><%= p.name %></h1>
        <%end%>

        <h6 style="text-align:right;">Admin: <%= User.find( p.admin_id ).email %></h6>
      </div>
    <%end%>
    <div class="" style="text-align:right">
      <%= link_to "Add New", new_profile_project_path(current_user.profile), class: "btn btn-primary" %>
    </div>
  </div>
</div>
