<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited to SQUAD by: <%= @user.email %></h1>
    <p>To create an account, go to the following: <a href="">FAKE URL</a></p>

    <p><h6>If this email was sent by mistake, please ignore.</h6></p>
  </body>
</html>
