<a href="" class="back-to-top"></a>

<div class="row" id="about">
  <div class="col-xs-8 col-xs-offset-2 form">
    <h1>About Squad</h1>
    <a href="#admin">Administrator</a> <br \>
    <a href="#team">Team Members</a> <br \>
    <a href="#task">Tasks</a> <br \>
    <a href="#bug">Bugs</a>
    <hr>
    <p>Squad aids development by allowing a team manager and their employees delegate and mark off tasks and bugs related to the project.</p>
    <ul>
      <li id="admin"><h3>Administrator</h3></li>
      <ul>
        <li><p>Every project has a single administrator position. This position is given authority over all users under the project and can delegate tasks and bugs, as well as manage the team members, including adding, removing, and tracking. The administrator can also give permissions to project users so they are allowed to take some of the responsibility of running the project tasks and bugs.</p></li>
      </ul>
      <li id="team"><h3>Team Members</h3></li>
      <ul>
        <li><p>Every team member has a unique profile page that shows any outstanding bugs or tasks. When a team member completes a bug or task, they can mark them as complete and they are transferred to the appropriate party to be checked and either marked off as complete or returned to the original team member. If a task or bug is returned, it is reset as an outstanding issue with a new category.</p></li>
      </ul>
      <li id="task"><h3>Tasks</h3></li>
      <ul>
        <li><p>Tasks are current jobs that have yet to be implemented into the project. Tasks always have one owning team member and a category of importance as well as a completion state. When a task is completed, it is organized in a project directory showing all completed tasks as record.</p></li>
        <li><h4>Categories</h4></li>
        <ul>
          <li class="veryImportant"><p>Very Important</p></li>
          <ul>
            <li><p>The task should be completed as quickly as possible, with a higher regard than any other.</p></li>
          </ul>
          <li class="important"><p>Important</p></li>
          <ul>
            <li><p>The task is important but should be completed only when no very important tasks exist in queue.</p></li>
          </ul>
          <li class="notImportant"><p>Not Important</p></li>
          <ul>
            <li><p>This task is not important but would be nice to have. These should only be completed if no other tasks exist.</p></li>
          </ul>
        </ul>
      </ul>
      <li id="bug"><h3>Bugs</h3></li>
      <ul>
        <li><p>Bugs are issues with completed tasks. Bugs also have a category of importances and a completion state. When bugs are marked off as fixed, they are organized into a directory showing all completed bugs as record.</p></li>
        <li><h4>Categories</h4></li>
        <ul>
          <li class="veryImportant"><p>Very Important</p></li>
          <ul>
            <li><p>This bug is of critical importance and should be fixed as soon as possible.</p></li>
          </ul>
          <li class="important"><p>Important</p></li>
          <ul>
            <li><p>This bug is important but should only be fixed when no very important bugs exist.</p></li>
          </ul>
          <li class="notImportant"><p>Not Important</p></li>
          <ul>
            <li><p>This bug is not going to affect the project as a whole and should be fixed only when no other bugs exist.</p></li>
          </ul>
        </ul>
      </ul>
    </ul>
  </div>
</div>
