/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

@import url(https://fonts.googleapis.com/css?family=Advent+Pro:400,600)
@import url(https://fonts.googleapis.com/css?family=Oswald)
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,500,700)

body
  font-family: 'Exo 2', sans-serif
  font-weight: 400
  font-size: 18px
  word-wrap: break-word

h5
  font-weight: 600
  font-size: 15px

.issueFrame:hover
  text-decoration: none
  color: black

.issuebutton
  border-style: solid
  border-color: black
  border-width: 2px

.navbar-brand
  font-family: 'Oswald', sans-serif
  font-weight: bold
  font-size: 52px

.navbar-brand:hover
  color: #D9534F !important

.inner.cover
  background-color: rgba(100,100,100,0.25)
  padding: 20%

.navbar
  background-color: rgba(0,0,0,0)
  border-color: rgba(0,0,0,0)

.form
  background-color: rgba(100,100,100,0.25)
  border-radius: 12px
  padding: 12px

.userForm
  background-color: rgba(100,100,100,0.25)
  border-radius: 12px
  padding: 12px
  margin-top: 4px
  margin-bottom: 4px

.frame
  background-color: rgba(100,100,100,0.25)
  border-radius: 12px
  padding: 12px

.commentframe
  background-color: rgba(200,200,200,0.25)
  border-radius: 1px
  padding: 12px
  margin: 12px

.project
  background-color: rgba(100,100,100,0.25)
  border-radius: 12px
  padding: 12px
  margin: 10px

.btn
  margin-top: 6px
  font-family: 'Exo 2', sans-serif
  border-radius: 0px
  padding: 10px

.github
  color: white
  background-color: #333333

.github:hover
  color: white

.github:active
  color: white

a
  font-family: 'Advent Pro', sans-serif
  font-weight: 600
  color: #428BCA
  font-size: 18px

a:hover
  color: #D9534F !important

.boldColor
  color: #428BCA

.back-to-top
  display: none
  width: 60px
  height: 60px
  text-indent: -9999px
  position: fixed
  z-index: 999
  right: 10px
  bottom: 40px
  background: #428BCA url("arrows.png") no-repeat center 50%
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

th
  text-decoration: underline

.veryImportant
  color: rgb(200,20,20)

.important
  color: rgb(255,174,20)

.notImportant
  color: rgb(20,200,20)

.open
  color: rgb(20,220,100)

.closed
  color: rgb(255,100,20)

.projectHeader
  font-weight: 600
  font-size: 52px
  text-decoration: none
  color: #428BCA

.btn-small-round
  border-radius: 5px
  padding: 4px
  margin: 0
  text-align: right

.danger
  background-color: #D9534F
  border-color: #D9534F

.danger-text
  color: #D9534F
  font-weight: 600

.adminText
  color: #D9534f

.projectHeader:hover
  text-decoration: none
  color: #428BCA

h1
  font-weight: 600
  font-size: 52px

.right
  text-align: right !important

.formarea
  width: 100%
  max-width: 100%
  height: 340px

.issueType
  border-radius: 0 !important
  border: 0 !important

.issue_form_very_important
  background-color: rgba(100,100,100,0.25)
  border-radius: 12px
  padding: 12px
  border-style: solid
  border-color: rgb(200,20,20)
  border-width: thick
  margin-bottom: 6px
  color: black

.issue_form_very_important:hover
  border-color: rgb(255,0,0)
  background-color: rgba(40,40,40,0.25)

.issue_form_important
  background-color: rgba(100,100,100,0.25)
  border-radius: 12px
  padding: 12px
  border-style: solid
  border-color: rgb(255,174,20)
  border-width: thick
  margin-bottom: 6px
  color: black

.issue_form_important:hover
  border-color: rgb(255,255,60)
  background-color: rgba(40,40,40,0.25)

.issue_form_not_important
  background-color: rgba(100,100,100,0.25)
  border-radius: 12px
  padding: 12px
  border-style: solid
  border-color: rgb(20,200,20)
  border-width: thick
  margin-bottom: 6px
  color: black

.issue_form_not_important:hover
  border-color: rgb(40,255,40)
  background-color: rgba(40,40,40,0.25)

.scalable
  overflow: hidden

.scalable iframe
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 75%

.scalable .scalable-content
  height: 0
  position: relative

.scalable-16-9 .scalable-content
  padding-bottom: 56.25%

.footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  padding: 1rem
  background-color: #efefef
  text-align: center
