<div class="col-xs-6 col-xs-offset-5">
  <% if user_signed_in? %>
    <% @pending.each do |p| %>
      <div class="row">
          <p>You have an invite to join <b><%= Project.find(p.project_id).name %> </b>from: <b><%= p.invite_email %></b></p>
          <div style="">
            <span class="btn btn-primary">Join</span>
            <span class="btn btn-danger">Ignore</span>
          </div>
      </div>
    <%end%>
  <%end%>
</div>
